.collapse {

    margin-right: 30px;
}
.collapse input{
    cursor: pointer;
    margin-bottom: 15px;
    width: 200px;
    height: 40px;
}
#select_category{
    margin-right: 0px;
}
.btn_category{
    max-height: 40px;
}
.list-inline-item{
    margin-top: 0px;
    margin-right: 5px;
}
