{% extends 'base.html' %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/new_post.css') }}" xmlns="http://www.w3.org/1999/html"> {% endblock %} {% block content %} {% with massages= get_flashed_messages(with_categories=true)%} {% if massages %} {% for category,massage in massages %}
<div class="text-center text-dark alert {{ category }}" id="mydiv">
    {% if category=="alert-success" %} {% endif %} {{ massage }}
</div> {% endfor %} {% endif %} {% endwith %}


<form method="post" action="{{ url_for('user.create_post') }}" enctype="multipart/form-data">
    <div class="d-flex justify-content-center mt-5" style="direction: rtl">
        <div class="console">
            <div class="row mt-4 input">
                <input type="text" class="form-control data" name="title" placeholder="عنوان مطلب ">
            </div>


            <div class="row mt-4 input">

                <textarea name="content" class="form-control data" id="" cols="30" rows="10" placeholder="محتوای مطلب"></textarea>
            </div>
            <div class="row mt-4">
                <ul id="myUL">
                    <li><span class="caret border btn bg-info">دسته بندی</span>
                        <ul class="nested">
                            {% for cat in categories %} {% if cat.category_id==Null %}
                            <li class="category  bg-dark"><span class="caret   text-info">{{ cat.name }}</span>
                                <ul class="nested">
                                    {% for category in categories %} {% if cat._id==category.category_id %}
                                    <ul>
                                        <li class="text-white"><button class="btn text-white cat_btn" type="button" value="{{ category._id }}">{{ category.name }}</button></li>
                                    </ul>
                                    {% endif %} {% endfor %}
                                </ul>

                            </li>
                            {% endif %} {% endfor %}

                        </ul>
                    </li>
                </ul>

                </select>
            </div>
            <div class="row mt-4 input" id="category" style="max-width: 70%">
                <input type="text" name="category" id="select_category" style="display: none">
            </div>

            <div class="row d-flex justify-content-start mt-4">
                <label for="old-tags"> تگ ها :</label>
                <select name="old-tags" id="old-tags">
                    {% if tags %}
                    {% for tag in tags %}
                    <option value="{{ tag._id }}">{{ tag.name }}</option>
                    {% endfor %}

                    {% endif %}

                </select>
            </div>

            <div class="row mt-4 input" id="tags" style="max-width: 70%">
                <input type="text" name="tags" id="all-tags" style="display: none">
            </div>
            <div class="row mt-4 input">

                <button id="add-tag" type="button" class="btn btn-info">افزودن تگ</button>


            </div>

            <div class="row mt-4 input" style="border-radius: 10px;border:1px solid lightgray;height: auto">
                <div class="col-12 text-center">
                    <h5 style="opacity: 0.5;margin-bottom: 2rem">تصویر برای پست خود بارگذاری کنید</h5>
                </div>
                <div class="col-12 text-center">
                    <input id="image" name="image" type="file" class="btn rounded btn-secondary" style="align-items: center;width: 70%">
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-4">

                <button id="newPost" type="submit" class="btn btn-info rounded ml-3">ثبت</button>
                <button type="button" class="btn btn-warning rounded text-white">
                    <a href="{{ url_for('blog.home') }}" class="text-white">بازگشت</a>
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %} {% block js %}
<script src="{{ url_for('static' ,filename='js/category_newpost.js') }}"></script>
<script src="{{ url_for('static' ,filename='js/new_tag.js') }}"></script>
<script src="{{ url_for('static',filename='js/alert.js') }}"></script>
{% endblock %}