{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
{#برای تست categoryاز دیتا بیس#}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}


    <ul>
    <li>_____________________________________</li>

                {% for category in categories %}
                                    <li>{{ category.name }}</li>
                            {% for sub in subcategories %}
                                {% if sub.category_id==category._id %}
                                    <li>{{ sub.name }}</li>

                                {% endif %}
                                {% endfor %}
                        {% endfor %}

    </ul>
{%  endblock %}



</body>
</html>
